$max-row-width: 584px;

.transport-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
}

.transport-container-half {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.transport-header {
    background-color: #FEC02C;
    border-radius: 16;
}

.transport-input {
    background-color: #C8C3B8;
}

.transport-row {
    display: flex;
    flex-direction: row;
}

.transport-title {
    font-weight: 500;
    font-size: 31px;
    text-align: center;
}